@font-face {
  font-family: 'Circular Pro';
  src: local('Circular Pro'), url('/public/assets/fonts/lineto-circular-pro-book.ttf') format('truetype');
}

* {
  font-family: 'Circular Pro';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
